{% extends 'accounts/base_template.html' %}
{% load static %}

    {% block title %}
        User Cab
    {% endblock %}

    {% block logo %}
      {{ request.user }}
    {% endblock %}

    {% block email %}
      {{ request.email }}
    {% endblock %}

    {% block links %}
      <li><a href="{% url 'accounts:create-datastore' %}">Создать хранилище</a></li>
      <li><a href="{% url 'accounts:add-layer' %}">Загрузить слой</a></li>
      <li><a href="{% url 'accounts:logout' %}">Выйти</a></li>
    {% endblock %}    

    {% block content %}
    <ul class="collapsible">
        <li class="active">
          <div class="collapsible-header">First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header">Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header">Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>

      <br>
      <br>
      <br>

      <div id="map"></div>
    {% endblock %}

    